doctype html
html(lang="ru-RU")
  include shared/head.pug

  body
    // TEMP
    <script async src='http://localhost:3002/browser-sync/browser-sync-client.js?v=2.18.6'></script>
    // shitty codding ??
    #wrap
      include shared/header.pug
      .page-buffer

      .breadcrumbs_container.mb30
        .container
          ul.breadcrumb
            li
              a(href='/') Главная
            li
              a(href='http://yii2.madwave.ru/catalog/inventar-dlya-plavaniya') Инвентарь для плавания
            li
              a(href='http://yii2.madwave.ru/catalog/inventar-dlya-plavaniya/doski-kalabashki') Доски и калабашки
            li.active CORE ALIGNMENT

      .container
        .row.mb60
          #variant
            .col-xs-12.top-caption
              h1
                | Способы доставки

            .col-xs-12
              .delivery-wrapper.active
                .delivery-item-toggle.active
                  i.fa.fa-caret-down
                .delivery-name Доставка курьерской службой
                .delivery-content
                  p Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени <br> (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.
                  .delivery-content-hidden.active
                    p Обратите внимание, что курьер передает товар для проверки только после оплаты.
                    p Доставка в выбранном городе: При оплате картой курьер интернет-магазина приедет с товаром <br> и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только <br> в пределах МКАД. Доставка за пределы МКАД осуществляется на следующий день после оформления заказа.
                    p Города РФ, кроме Москвы
                    p Стоимость доставки при сумме заказа до 2000 рублей составляет 200 рублей. При сумме заказа более 2000 рублей доставка осуществляется бесплатно. Доставка за пределы КАД города Санкт-Петербург осуществляется <br> на следующий день и составляет 200 рублей
              .delivery-wrapper
                .delivery-item-toggle
                  i.fa.fa-caret-down
                .delivery-name Срочная доставка
                .delivery-content
                  p Срочная доставка может будет осуществлена в любое время с 10:00 до 21:00 в интервале 1час, но не ранее, чем через 3 часа после оформления заказа. В случае опоздания курьера – доставка за наш счет! Минимальная сумма заказа отсутствует.
                  .delivery-content-hidden
                    p Обратите внимание, что курьер передает товар для проверки только после оплаты.
                    p Доставка в выбранном городе: При оплате картой курьер интернет-магазина приедет с товаром <br> и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только <br> в пределах МКАД. Доставка за пределы МКАД осуществляется на следующий день после оформления заказа.
                    p Города РФ, кроме Москвы
                    p Стоимость доставки при сумме заказа до 2000 рублей составляет 200 рублей. При сумме заказа более 2000 рублей доставка осуществляется бесплатно. Доставка за пределы КАД города Санкт-Петербург осуществляется <br> на следующий день и составляет 200 рублей
              .delivery-wrapper
                .delivery-item-toggle
                  i.fa.fa-caret-down
                .delivery-name Самовывоз из офиса интернет-магазина
                .delivery-content
                  p Свой заказ можно получить в офисе интернет-магазина в вашем городе. Минимальная сумма заказа отсутсвует.
                  .delivery-content-hidden
                    p Обратите внимание, что курьер передает товар для проверки только после оплаты.
                    p Доставка в выбранном городе: При оплате картой курьер интернет-магазина приедет с товаром <br> и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только <br> в пределах МКАД. Доставка за пределы МКАД осуществляется на следующий день после оформления заказа.
                    p Города РФ, кроме Москвы
                    p Стоимость доставки при сумме заказа до 2000 рублей составляет 200 рублей. При сумме заказа более 2000 рублей доставка осуществляется бесплатно. Доставка за пределы КАД города Санкт-Петербург осуществляется <br> на следующий день и составляет 200 рублей





    include shared/footer.pug
