doctype html
html(lang="ru-RU")
  include shared/head.pug

  body
    // TEMP
    <script async src='http://localhost:3002/browser-sync/browser-sync-client.js?v=2.18.6'></script>
    // no need on wrapper here
    #wr2ap
      include shared/header.pug
      .page-buffer

      // add no margin
      section#main-banner.no-m
        .banner._morozov.inner
          .container.text-center
            h2.h1 ВЛАДИМИР МОРОЗОВ
            .banner-country Россия
            .banner-quote «Результат возможен лишь тогда, когда ты сам в это веришь. <br> А не когда надеешься на какое-то чудо»
            p Бронзовый призёр Олимпийских игр в Лондоне, двукратный призёр чемпионата мира,
              | <br> чемпион Европы, первый в истории России обладатель Кубка мира по плаванию.
              | <br> ВЛАДИМИР МОРОЗОВ стал офttициальным лицом компании Mad Wave –
              | <br> лидера по производству профессиональной экипировки
              | <br> и аксессуаров для плавания в России.
              | <br> 2017 – год новых побед!
        //copy-paste
        .banner._morozov.inner
          .container.text-center
            h2.h1 ВЛАДИМИР МОРОЗОВ
            .banner-country Россия
            .banner-quote «Результат возможен лишь тогда, когда ты сам в это веришь. <br> А не когда надеешься на какое-то чудо»
            p Бронзовый призёр Олимпийских игр в Лондоне, двукратный призёр чемпионата мира,
              | <br> чемпион Европы, первый в истории России обладатель Кубка мира по плаванию.
              | <br> ВЛАДИМИР МОРОЗОВ стал офttициальным лицом компании Mad Wave –
              | <br> лидера по производству профессиональной экипировки
              | <br> и аксессуаров для плавания в России.
              | <br> 2017 – год новых побед!

      // NEW MARKUP
      section.sportsmen-short
        .container
          .row
            .col-sm-12.col-md-8.col-md-offset-2
              .row
                .col-sm-3
                  .sportsmen-short-name Возраст
                  .sportsmen-short-effort <span>24</span> года
                .col-sm-3
                  .sportsmen-short-name Рост
                  .sportsmen-short-effort <span>186</span> см
                .col-sm-3
                  .sportsmen-short-name Специализация
                  .sportsmen-short-effort.mt20 Кроль, спина
                .col-sm-3
                  .sportsmen-short-name Интересы
                  .sportsmen-short-effort Серфинг, <br> музыка, кино

      // Достижения
      section.sportsmen-achievements
        .container
          .row
            .col-sm-3
              .sportsmen-achievements-block.block--yellow
                p Первый в истории России <br> обладатель Кубка мира <br> по плаванию (2016)
            .col-sm-3
              .sportsmen-achievements-block.block--red
                p Бронзовый призер ОИ-2012 <br> в Лондоне в эстафете <br> 4х100 м вольным стилем
            .col-sm-3
              .sportsmen-achievements-block.block--green
                p Двукратный призёр чемпионата мира (Барселона-2013)
            .col-sm-3
              .sportsmen-achievements-block.block--blue
                p Чемпион Европы (Берлин-2014)
          .row
            .col-sm-3
              .sportsmen-achievements-block.block--violet
                p Многократный чемпион мира и Европы на короткой воде
            .col-sm-3
              .sportsmen-achievements-block.block--pink
                p Двукратный рекордсмен мира на короткой воде (100 м комплекс, эстафета 4х50 м в/c)

            .col-sm-3
              .sportsmen-achievements-block.block--red
                p Многократный чемпион <br> и рекордсмен России
            .col-sm-3
              .sportsmen-achievements-block.block--orange
                p 3-кратный рекордсмен США среди юношей

      // Цитата
      section.sportsmen-quote
        .container
          .row
            .col-sm-6
              .sportsmen-quote-text
                i.fa.fa-angle-double-left
                i.fa.fa-angle-double-right
                .sportsmen-quote-title Я – ВЛАДИМИР МОРОЗОВ
                p Путь к победе – это ежедневная работа над собой, <br> тяжёлые тренировки и твёрдость духа. Чтобы держать себя в форме,  мне нужны профессиональные решения для тренировок и стартов. <br> Именно поэтому я выбрал Mad Wave. Mad Wave – волна новых чемпионов.
            .col-sm-6
              .sportsmen-quote-image

      section.sportsmen-table
        .container
          .row
            .col-sm-4
              .sportsmen-table-heading
                span Олимпийские игры 2012
              .sportsmen-table-content
                span Бронза эстафета 4х100 в/c
              .sportsmen-table-heading
                span Чемпионат мира  2013
              .sportsmen-table-content
                span Серебро 50 м в/с
                span Бронза эстафета 4х100 м в/c
              .sportsmen-table-heading
                span Чемпионат Европы 2014
              .sportsmen-table-content
                span Золото 50 м спина
                span Серебро эстафета 4х100 м в/с
                span Серебро эстафета 4х100 м в/с микст
                span Бронза комб.эстафета 4х100 м в/c микст
              .sportsmen-table-heading
                span Чемпионат мира <br> на короткой воде 2016
              .sportsmen-table-content
                span Золото эстафета 4х50 м в/с
                span Золото эстафета 4х100 м в/с
                span Золото эстафета 4х50 м комплекс
                span Золото эстафета 4х100 м комплекс
                span Золото эстафета 4х50 м в/с микст
                span Серебро 50 м в/с
                span Серебро 100 м брасс
            .col-sm-4
              .sportsmen-table-heading
                span Олимпийские игры 2012
              .sportsmen-table-content
                span Золото 50 м спина
                span Серебро эстафета 4х100 м в/с
                span Серебро эстафета 4х100 м в/с микст
                span Бронза комб.эстафета 4х100 м в/c микст

              .sportsmen-table-heading
                span Чемпионат мира на короткой воде 2014
              .sportsmen-table-content
                span Золото эстафета 4х50 м в/c
                span Серебро 100 м комплекс
                span Серебро эстафета 4х100 м в/с
                span Серебро эстафета 4х50 м в/c микст
              .sportsmen-table-heading
                span Чемпионат мира на короткой воде 2012
              .sportsmen-table-content
                span Золото 50 м в/с
                span Золото 100 м в/с
                span Серебро комб.эстафета 4х100 м

              .sportsmen-table-heading
                span Чемпионат Европы <br> на короткой воде 2013

              .sportsmen-table-content
                span Золото 50 м в/с
                span Золото 100 м в/с
                span Золото 100 м комплекс
                span Золото эстафета 4х50 м в/с
                span Золото эстафета 4х50 м в/с микст


            .col-sm-4
              .sportsmen-table-heading
                span Чемпионат Европы <br> на короткой воде 2012

              .sportsmen-table-content
                span Золото 100 м в/с
                span Золото 100 м комплекс
                span Серебро 50 м в/с
                span Серебро комб.эстафета 4х50 м
                span Серебро эстафета 4х50 м в/с
                span Серебро комб.эстафета 4х50 м микст
                span Бронза 50 м спина

              .sportsmen-table-heading
                span Универсиада 2013
              .sportsmen-table-content
                span Золото 50 м в/с
                span Золото 100 м в/с
                span Золото эстафета 4х100 м в/с
                span Золото комб.эстафета 4х100 м
                span Серебро 50 м спина
                span Бронза 50 м брасс







    section#subscribe
      .container.p0
        | Подписаться на новости
        form#w1(action='/site/mail-scribe', method='post')
          input(type='hidden', name='_csrf', value='R3RxSjBpSjcePzNzCSUvdH4dHgNZP3hYBkxADQQlBWETMCEsc1EtYQ==')
          .form-group.field-subscribe-email.required
            input#subscribe-email(type='text', name='Subscribe[email]', placeholder='Ваш e-mail')
            .help-block
          input(type='submit', value='Подписаться')
    section#footer
      .container.p0
        .col-md-3.hidden-xs.hidden-sm
          .paysystems
            i.maestro
            i.paypal
            i.mastercard
            i.visa
        .col-md-4.contact.p0.text-center-xs
          | Бесплатный звонок по РФ
          span 8 800 100 57 19
          br
          |                 Ежедневно, с 09:00 до 20:00 МСК
        .col-md-5.p0.footer-links.text-center-xs
          a(href='/about/franchise') Франчайзинг
          a(href='/about/info/contacts') Контакты
          a(href='/about/info-panel/discount-offers') Экономия до 40%
          a(href='/about/info/returns-exchange') Возврат и обмен
          a(href='/about/info/sizes') Размерная сеткdа
    section#sub-footer
      .sub
        .container.p0
          .col-md-3
            .logo
          .col-md-9.text-center-xs
            a(href='#') Все права зщищены
            br.visible-xs
            span
              span.hidden-xs Адрес:
              |  Санкт-Петербург, Индустриальный Проспект, 70
            .goHome.pull-right В начало
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85538552-1', 'auto');
      ga('require', 'ec');
    script(src='/assets/3fdcd303/jquery.min.js')
    script(src='/assets/eff483b6/yii.js')
    script(src='/js/jquery.elevateZoom.min.js')
    script(src='/js/product_view.min.js')
    script(src='/js/autocomplete/dist/jquery.autocomplete.min.js')
    script(src='/js/slick/slick.min.js')
    script(src='/js/theia-sticky-sidebar.min.js')
    script(src='/js/bootstrap/custom.min.js')
    script(src='/assets/eff483b6/yii.validation.js')
    script(src='/assets/eff483b6/yii.activeForm.js')
    // add main.js
    script(type="text/javascript" src="http://localhost:3000/js/main.js")
    script(type='text/javascript').
      jQuery(document).ready(function () {
      ga('ec:addProduct', {"id":"M0727 01","name":"CORE ALIGNMENT","category":"Калабашка","brand":"Mad Wave","variant":"M0727 01 0 00W"}); ga('ec:setAction', 'detail');
      ga('ec:addImpression', {"id":"M1431 02","name":"Jammer PBT","category":"Мужские джаммеры антихлор","brand":"Mad Wave","variant":"M1431 02 5 01W","list":"C этим товаром покупают"})
      ga('ec:addImpression', {"id":"M0741 01","name":"Positive Drive","category":"Ласты для брасса","brand":"Mad Wave","variant":"M0741 01 4 00W","list":"C этим товаром покупают","position":1})
      ga('ec:addImpression', {"id":"M0320 03","name":"Admiral","category":"Мужские тапки","brand":"Mad Wave","variant":"M0320 03 8 01W","list":"C этим товаром покупают","position":2})
      ga('ec:addImpression', {"id":"M0746 07","name":"FREESTYLE","category":"Лопатки","brand":"Mad Wave","variant":"M0746 07 0 01W","list":"C этим товаром покупают","position":3})
      $('body')
      .on('click', '#city-picker', function() {
      if (!$('.pac-container').length) {
      placesAutocomplete();
      }
      })
      .on('click', '.call-city-picker', function() {
      $('#navigation')
      .removeClass('pushed')
      .removeClass('opened');
      $('#city-picker').modal('show');
      })
      .on('click', '.set-city', function() {
      $('.set-city').removeClass('active');
      $(this).addClass('active');
      setLocation($(this).data('city'));
      })
      ;
      function setLocation(input) {
      $.ajax({
      type: "POST",
      url:  '/citydetector/ajax/set-location',
      data: {input: input},
      success: function(response){
      $('.location-city')
      .text(response)
      .val(response);
      $('#city-picker').modal('hide');
      location.reload();
      },
      error: function(error){console.log(error)}
      });
      }
      function placesAutocomplete() {
      var input = document.getElementById('city-picker-input');
      var options = {
      types: ['(cities)'],
      componentRestrictions: {country: 'ru'}
      };
      autocomplete = new google.maps.places.Autocomplete(input, options);
      google.maps.event.addListener(autocomplete, 'place_changed', function() {
      $('.set-city').removeClass('active');
      setLocation($('#city-picker-input').val());
      });
      }
      jQuery('#w1').yiiActiveForm([{"id":"subscribe-email","name":"email","container":".field-subscribe-email","input":"#subscribe-email","validate":function (attribute, value, messages, deferred, $form) {yii.validation.required(value, messages, {"message":"Необходимо заполнить «Email»."});yii.validation.email(value, messages, {"pattern":/^[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/,"fullPattern":/^[^@]*<[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?>$/,"allowName":false,"message":"Значение «Email» не является правильным email адресом.","enableIDN":false,"skipOnEmpty":1});}}], []);
      });
    script(src='/js/custom.min.js')
    script.
      ga('send', 'pageview');
